*{
    padding: 0;
    margin: 0;
}
body{
    color: white;
    background: #212121;
}
h1{
    text-align: center;
}
.btn{
    padding: 20px 100px;
}
#result{
    padding: 10px;
}
#Msg{
    padding: 10px;
}